@page "/circuit"
@using GetAnIOTSampleApp.Shared
@using ProjectClasses
@using GetAnIOTSampleApp.Client.Components
@inject Services.SamplesClient _SamplesClient
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager

<h3>Device Sample Project</h3>
<h1>Project Circuit</h1>

<table>
    <tr><td align="right"><b><i>Project Name:</i></b></td><td><h1>@project.Name</h1></td></tr>
    <tr><td align="right"><b><i>Device:</i></b></td><td>@project.DeviceName</td></tr>
    <tr><td align="right"><b><i>Project C# Filename:</i></b></td><td>@project.ProjectCSFileName_WithoutText</td></tr>
    <tr><td align="right"><b><i>No. C# Files:</i></b></td><td>@project.NoCSFiles</td></tr>
    <tr><td align="right"><b><i>Project Filename:</i></b></td><td>@project.ProjectFileName_WithoutText</td></tr>
    <tr><td align="right"><b><i>Project Circuit:</i></b></td><td>@project.ProjectPNGFileName</td></tr>
</table>
<br />
<img src="@QRCodeStr" style="width:600px;height:600px;" />
<br />


@code {
    private Project project;
    public string filecontents;
    public string textToCopy;

    string QRCodeStr = "";

    bool done = false;
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (done)
            navigationManager.NavigateTo("/index");
    }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (Services.SamplesClient.CurrentProject == null)
        {
            project = new Project();
            textToCopy = "";
            done = true;
        }
        else
        {
            project = Services.SamplesClient.CurrentProject;
            if (project.ProjectPNGFileName == "")
            {
                await JSRuntime.InvokeAsync<object>("alert", "No Circuit Diagram available!");
                navigationManager.NavigateTo("/device/none");
            }
            else
            {
                string DeviceNameProjectName = project.DeviceName + "-" + project.Name + "-Image";

                QRCodeStr = await _SamplesClient.GetFile(DeviceNameProjectName);
            }

        }
    }


}
