@page "/deployondice"
@using GetAnIOTSampleApp.Shared
@using ProjectClasses
@inject Services.SamplesClient _SamplesClient
@inject NavigationManager navigationManager
@using GetAnIOTSampleApp.Client.Components

<h1>How to Deploy Device Sample Project</h1>
<table>
    <tr><td align="right"><b><i>Project Name:</i></b></td><td>@project.Name</td></tr>
    <tr><td align="right"><b><i>Device:</i></b></td><td>@project.DeviceName</td></tr>
    <tr><td align="right"><b><i>Project C# Filename:</i></b></td><td>@project.ProjectCSFileName</td></tr>
    <tr><td align="right"><b><i>Project Filename:</i></b></td><td>@project.ProjectFileName</td></tr>
    <tr><td align="right"><b><i>Project Circuit:</i></b></td><td>@project.ProjectPNGFileName</td></tr>
</table>
<br />
<MarkdownModel Content=@textToCopy />
<br />


<h2>To Do</h2>

@code {

    string filecontents;

    private Project project;

    string textToCopy = "```Watch this space```";

    bool done = false;
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (done)
            navigationManager.NavigateTo("/index");
    }


    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        if (Services.SamplesClient.CurrentProject == null)
        {
            project = new Project();
            textToCopy = "";
            done = true;
        }
        else
        {
            project = Services.SamplesClient.CurrentProject;
            string DeviceNameProjectNameType = project.DeviceName + "-" + project.Name + "-HowTo";

            filecontents = await _SamplesClient.GetFile(DeviceNameProjectNameType);

            textToCopy = filecontents;

        }
    }


}
