@page "/deployondevice"
@using GetAnIOTSampleApp.Shared
@using ProjectClasses
@inject Services.SamplesClient _SamplesClient
@inject NavigationManager navigationManager
@using GetAnIOTSampleApp.Client.Components

<h1>How to Deploy Device Sample Project</h1>
<table>
    <tr><td align="right"><b><i>Project Name:</i></b></td><td><h1>@project.Name</h1></td></tr>
    <tr><td align="right"><b><i>Device:</i></b></td><td>@project.DeviceName</td></tr>
    <tr><td align="right"><b><i>Project C# Filename:</i></b></td><td>@project.ProjectCSFileName</td></tr>
    <tr><td align="right"><b><i>No. C# Files:</i></b></td><td>@project.NoCSFiles</td></tr>
    <tr><td align="right"><b><i>Project Filename:</i></b></td><td>@project.ProjectFileName</td></tr>
    <tr><td align="right"><b><i>Project Circuit:</i></b></td><td>@project.ProjectPNGFileName</td></tr>
</table>
<br />
<MarkdownModel Content=@textToCopy />
<br />
<h5>Get System.Device.GPIO</h5>
<ClipBoardComponent Text=@TextToCopyGPIO  />
<h5>Get IoT.Device.Bindings</h5>
<ClipBoardComponent Text=@TextToCopyBindings/>

@code {
    string TextToCopyGPIO = "dotnet add package System.Device.Gpio --source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json";
    string TextToCopyBindings = "dotnet add package Iot.Device.Bindings --source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json";
    string filecontents;

    private Project project;

    string textToCopy = "```Watch this space```";

    bool done = false;
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (done)
            navigationManager.NavigateTo("/index");
    }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (Services.SamplesClient.CurrentProject == null)
        {
            project = new Project();
            textToCopy = "";
            done = true;
        }
        else
        {
            project = Services.SamplesClient.CurrentProject;
            string DeviceNameProjectNameType = project.DeviceName + "-" + project.Name + "-HowTo";

            filecontents = await _SamplesClient.GetFile(DeviceNameProjectNameType);

            textToCopy = filecontents;

        }
    }


}
