@page "/deploy"
@using GetAnIOTSampleApp.Shared
@using ProjectClasses
@inject Services.SamplesClient _SamplesClient
@inject NavigationManager navigationManager

<h1>How to Deploy Device Sample Project</h1>
<table>
    <tr><td align="right"><b><i>Project Name:</i></b></td><td>@project.Name</td></tr>
    <tr><td align="right"><b><i>Device:</i></b></td><td>@project.DeviceName</td></tr>
    <tr><td align="right"><b><i>Project C# Filename:</i></b></td><td>@project.ProjectCSFileName</td></tr>
    <tr><td align="right"><b><i>Project Filename:</i></b></td><td>@project.ProjectFileName</td></tr>
    <tr><td align="right"><b><i>Project Circuit:</i></b></td><td>@project.ProjectPNGFileName</td></tr>
</table>

<h2>To Do</h2>

@code {

    private Project project;


    protected  override void  OnInitialized()
    {
        base.OnInitialized();
        project = Services.SamplesClient.CurrentProject;

    }


}
