@page "/device/{DeviceNameProjectName}"
@using GetAnIOTSampleApp.Shared
@using ProjectClasses
@inject Services.SamplesClient _SamplesClient

<h1>Device Sample Project</h1>
<table>
    <tr><td align="right"><b><i>Project Name:</i></b></td><td>@project.Name</td></tr>
    <tr><td align="right"><b><i>Device:</i></b></td><td>@project.DeviceName</td></tr>
    <tr><td align="right"><b><i>Project C# Filename:</i></b></td><td>@project.ProjectCSFileName</td></tr>
    <tr><td align="right"><b><i>Project Filename:</i></b></td><td>@project.ProjectFileName</td></tr>
</table>

<pre>@filecontents</pre>


@code {
    [Parameter]
    public string DeviceNameProjectName { get; set; }

    public string DeviceName { get; set; }
    public string ProjectName { get; set; }

    public string filecontents { get; set; }



    private Dictionary<string, List<Project>> Projects { get; set; }
    private Project project;

    protected async override Task OnInitializedAsync()
    {
        string[] names = DeviceNameProjectName.Split(new char[] { '-' });
        DeviceName = names[0];
        ProjectName = names[1];

        Projects = GetAnIOTSampleApp.Client.Services.SamplesClient.Projects;

        List<string> keys = new List<string>(Projects.Keys);
        List<List<Project>> values = (Projects.Values).ToList();
        var n = Projects.Count;

        List<Project> projects = Projects[DeviceName];
        var xproject = from p in projects where p.Name == ProjectName select p;
        project = xproject.FirstOrDefault();

        filecontents = await _SamplesClient.GetFile(DeviceNameProjectName);
        //filecontents = filecontents.Replace("**", "</p><p>");
    }


}
